{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>How to validate</h1>
</div>
<h3>Short user guide</h3>
<ol>
  <li>Select the schema to validate the model against on the "Schema" page and press "Load schema"</li>
  <li>Once the schema has been loaded, you are redirected to the "Validate" page</li>
  <li>Select your model by pressing the "Choose file" button</li>
  <li>Press the "Submit" button. The file will be uploaded and validated and you are redirected to the "Report" page to see the results</li>
  <li>After each validation you may cut and past the results on the report page to an editor of your choice if you want to make a copy of the validation report</li>
  <li>You can validate a new file against the same schema by going back to the "Validate" page and selecting a new file to upload.</li>
</ol>
<p>After each session, all uploaded files are deleted from the server.</p>

{% endblock %}
