{% extends 'layouts/main.html' %}
{% block title %}Select the OCX schema{% endblock %}
{% block content %}
<div class="page-header">
  <h1> OCX schema version to validate against</h1>
</div>
  <form method="post" class="form">
        {{ form.hidden_tag() }}
      <div class="form-field">{{ "Select schema: " }} {{ form.schema }} {{ form.submit }}
      </div>
      <br>
      <h3><font face="verdana" color="red">Note: The schema will take a minute to load, be patient</font></h3>
  </form>
{% endblock %}