{% extends 'layouts/main.html' %}
{% block content %}
<div class="page-header">
  <h1>Validate OCX</h1>
</div>
<h3>Selected schema version: <font face="verdana" color="blue">{{ version }}</font></h3>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.ocx}}
        {% for error in form.ocx.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        {{ form.submit }}
    </form>
    <br>
    <h3> Changes to this version:</h3>
    <font face="verdana" size="2">
    {{ table }}
{% endblock %}
